# Core Blockchain RPC URL (for Hardhat and backend)
CORE_RPC_URL=https://rpc.test2.btcs.network

# Public RPC URL for frontend (accessed by the browser)
NEXT_PUBLIC_CORE_RPC_URL=https://rpc.test2.btcs.network

# Private key of the deployer wallet (without 0x prefix)
PRIVATE_KEY=85429ccc752f8c9882df91a9ed0ff92e89000b6f78b877399f1d134bbf6a3b55


# API key for block explorer (if you plan to verify contracts on Corescan)
CORESCAN_API_KEY=c11a827668144d87affefb76611b13f0

# WalletConnect Project ID (get one from https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=0fdb66e11cbc4d3bf63e4f8a8bf944cb

# Contract addresses (update these after deployment)
NEXT_PUBLIC_REWARD_TOKEN_ADDRESS=0xdD072F4c4039AA330ac9681b65305B43607ed6bA
NEXT_PUBLIC_GOVERNANCE_ADDRESS=0x451810Cd7d7a3989A27acb8Ad62D6407164C74F3
NEXT_PUBLIC_AI_ORACLE_ADDRESS=0xBCd6C2219148F8F687d73d113adA12A6E8847997
NEXT_PUBLIC_STAKING_ADDRESS=0x8FbFCD878e8db70e474f6ceD87701c5769b186D3